.container{
    width: 100%;
    height: 100vh;
    background-image: url(img/biodata-background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.biodata-box{
    
}